* {
  /* font-family: 'Gowun Batang', serif; */
  font-family: "Noto Sans KR", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

